<div class="content">
<div class="col-lg-12">
  <div class="card" >
      <div class="card-header Colorheader">
          <strong>Crear Factura</strong>
      </div>
      <div class="card-body card-block">
        <form [formGroup]="FormFactura" action="#" method="post" enctype="multipart/form-data" class="form-horizontal">

          <div class="form-row form-group">
            <div class="col-md-4 mb-3">
              <div class="input-group">
            <input type="text"  id="text-input" name="text-input" placeholder="Cliente" class="form-control" formControlName="cliente_Nombre">
            <div class="input-group-addon"><i class="fa fa-asterisk" (click)="AgregarCiente()"></i></div>
          </div>
          </div>

          <div class="col-md-4 mb-12 ml-6">
            <input type="text" id="text-input" name="text-input" placeholder="Chasis" class="form-control" formControlName="cliente_Chasis">
          </div>
        </div>

         <div class="form-row">
          <div class="col-md-4 mb-3">
            <ng-select [items]="MarcaCata" class="custom" bindLabel="Marca_Nombre" bindValue="Marca_id"  (change)="CargarModelo($event.Marca_id)"
            placeholder="Marcas" formControlName="Marca_id" ></ng-select>
        </div>

        <div class="col-md-4 mb-3">
        <ng-select [items]="ModeloCata" class="custom"   bindLabel="Modelo_Nombre" bindValue="Modelo_id"  [readonly]="HabilitarModelo" placeholder="Modelos" formControlName="Modelo_id">

        </ng-select>
      </div>
    </div>


     <div class="form-row">
      <div class="col-md-6 mb-3">
          <ng-select [items]="Empleado" class="custom"  bindLabel="Empleado_Nombre_Completo" bindValue="Empleado_id" placeholder="Empleados" formControlName="Empleado_id">
          </ng-select>
    </div>
</div>

<hr id="hr">
<legend>
  Comprobante
</legend>
<!--
<div class="checkbox">
  <label for="checkbox1" class="form-check-label col-md-4 mb-3 ">
      <input type="checkbox" id="checkbox1" name="checkbox1" (change)="Comprobar($event)" value="option1" class="form-check-input">
  </label>
</div> -->

<div class="form-row" >
  <div class="col-md-3 mb-3">
  <input type="text"  id="text-input" name="text-input" placeholder="RNC o cedula " class="form-control" formControlName="cliente_RNC">
</div>

<div class="col-md-4 mb-3">
 <ng-select [items]="ComprobantesFiscal" class="custom" bindLabel="Comprobante_Nombre"  (change)="ComprobanteFiscal($event)" placeholder="Selecciones el comprobante"  bindValue="Comprobante_id" formControlName="Comprobante_id"></ng-select>
</div>

<div  class="col-md-4 mb-3">
  <input type="text"  id="text-input" name="text-input" readonly="true" placeholder="Comprobante fiscal" class="form-control col-8" value="Comprobante_Secuencia" formControlName="Comprobante_Secuencia">
</div>

</div>


<hr id="hr" >
    <div class="row form-group">
      <div class="col-md-2 mb-3">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Cantidad:</label></div>
      <input type="number" min="0" id="text-input" name="text-input" placeholder="Cantidad" class="form-control" formControlName="Cliente_Cantidad_Numero">
    </div>

    <div class="col-md-6 mb-3">
      <div class="col col-md-3"><label for="text-input" class=" form-control-label">Descripcion:</label></div>
      <input name="text-input" id="text-input" placeholder="Descripcion" class="form-control col-md-12" formControlName="Cliente_Descripcion">
    </div>

    <div  class="col-md-2 mb-3">
      <div class="col col-md-3"><label for="text-input" class=" form-control-label">Precio:</label></div>
      <input type="number" min="0" id="text-input" name="text-input" placeholder="Precio" class="form-control col-8" formControlName="Cliente_Precio">
    </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-success" (click)="AgregarFactura()">+</button>
      </div>
  </div>
        <hr>
        <legend>
          Detalle
        </legend>
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th>Precio Neto</th>
                <th>Precio Total</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fac of detalleFactura; index as i">
                <td>{{fac.Cliente_Cantidad_Numero }}</td>
                <td>{{fac.Cliente_Descripcion}}</td>
                <td>{{fac.Cliente_Precio | currency }}</td>
                <td>{{fac.Cliente_Precio | currency}}</td>
                <td>
                 <button type="button" class="btn btn-danger" data-toggle="modal" (click)="RemoverItem(i)">-</button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body">
          <div class="col-md-6 mb-3">
          <button type="button" class="btn btn-primary">Guardar</button>
          &nbsp;
         <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </div>
        </form>
        </div>
      </div>
    </div>
    <button class="open-modal" hidden id="EliminacionItem" data-target="EliminarItem"></button>

    <!-- Modal -->
<div class="modal fade" id="EliminarItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remover Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta Seguro que desea remover el Item
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Remover</button>
      </div>
    </div>
  </div>
</div>
